* {
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #BDD7EA;
    font-family: 'Ubuntu Mono', monospace;
    text-decoration: none;
}

h1 {
    font-family: 'Ubuntu Mono';
    font-size: 50px;  
    color: #003C66;
    line-height: 1.5em;
}

h2 {
    font-family: 'Ubuntu Mono';
    font-size: 30px;  
    color: #0D0D0D; 
}

.container {
    padding: 2%;
}
