* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FBEEC2;
    padding: 30px;
}

h1 {
    color: #A64521;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

h2 {
    color: #F28E13;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

p {
    color:black;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid-item {
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 50px; 
}

.grid-item img {
    height: 200px;
}

.top-image {
    height: 400px;
}