body {
    background-color: #FBEEC2;
    display: block;
    margin: 8px;
    margin-top: 300px;
    margin-left: 300px;
    margin-right: 0px;
    padding-right: 100px;
    overflow: scroll;
    width: auto;
}

p {
    color:black;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    text-decoration: none;
}

.grid-item {
    padding: 20px;
    width: auto;
    height: 250px;
    margin-bottom: 50px;
    margin-top: 50px;
    
}
