body{
    display: block;
    margin: 8px;
    background-color: rgb(136, 204, 221);
    font-family: 'Roboto Mono', monospace;
    line-height: 1.68;
    
}
h2 {
    color:wheat;
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
    font-style: bold;
    text-transform: uppercase;
    line-height: 5mm;
}
.box1, .box2 {
    width: 40%;
    margin: 2%;
    padding: 1%;
    float: left;
    display: inline-block;

}
.pullquote {
    color: grey;
    font-size: 20px;
}