* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    display: block;
    height: 100%;
    width: 100%;
    margin: 8px;
    background-color: #EBEDF2;
    font-family: 'Roboto Mono', monospace;
    line-height: 1.68;
}

header, footer {
    height: 20vh;
    background-color: yellow;
}

main {
    height: 60vh;
    display: flex;
    flex-direction: row;
}

section {
    width: 60%;
}

aside {
    width: 40%;
}

@media (max-width:600px) {
    main {
        flex-direction: column;
    }
    section, aside {
        flex-direction: column;
    }
}

h2 {
    color:#D7F205;
    font-size: 50px;
    font-family: 'Roboto Mono', monospace;
    font-style: bold;
    text-transform: uppercase;
    line-height: 1.5em;
}

h3 {
    color: #DCF230;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    line-height: 1.5em;
}

p {
    color: #827CA6;
}

.container {
    display: flex;
    background: tomato;
    flex-direction: column;
}

.item {
    padding: 5%;
    width: 50%;
    line-height: 1.5em;
    flex: 1;
}

.wider {
    flex: 2;
}

.row {
    display: flex;

}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.pullquote {
    color: grey;
    font-size: 20px;
    line-height: 3em;
}