* {
    box-sizing: border-box;
    margin: 0;
    /*   padding: 0; */
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
  }
  
  .filters,
  .list {
    /*   background-color: #f15b31; */
    padding: 20px;
    /*   display: flex; */
    border: 2px solid #141414;
    width: 100%;
  }
  
  .filter-btn {
    color: white;
    background-color: #f15b31;
    width: 100px;
    height: 30px;
    text-align: center;
    border: none;
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  ul .card.hide {
    display: none;
  }

  ul .card.show {
    animation: fadeIn 0.5s ease;
  }

  @keyframes fadeIn {
    0% { opacity:0}
    100% {opacity: 1}
  }
  
  li {
    list-style-type: none;
    border: 2px solid #141414;
    padding: 10px;
    margin: 10px;
  }
  
  .hidden {
    display: none;
  }
  
  img {
    width: 300px;
  }
  